:root {
  --primary: #6ebec3;
  --primaryDark: #026468;
  --primaryExtraDark: #133842;
  --primaryLight: #bcdee8;
  --secondary: #f5a623;
  --secondaryLight: #f8c065;
  --alternate: #fa5f4d;
  --background: #303030;
  --white: #fff;
  --black: #3d3d3d;
  --fontWhite: #fff;
  --greyLight: #f6f6f6;
  --greyMid: #d4d5d7;
  --greyDark: #404040;
  --success: #2fbf68;
  --urgent: #ff5f47;
  --urgentLight: #ffcfc7;
  --testimonialBlue: #f2f8fa;
  --claimMauve: #f4f6fc;
  --fontFamily: 'Tahoma', sans-serif;
  --fontSizeTiny: 1rem;
  --fontSizeSmall: 1.2rem;
  --fontSizeMedium: 1.4rem;
  --fontSizeLarge: 1.6rem;
  --fontSizeTitle: 2.0rem;
  --headlineFontSizeLarge: 4.4rem;
  --headlineFontSizeSmall: 3.2rem;
  --headlineLineHeightLarge: 5.6rem;
  --headlineLineHeightSmall: 3.2rem;
  --subheadFontSizeLarge: 2.4rem;
  --subheadFontSizeSmall: 1.6rem;
  --subheadLineHeightLarge: 3.2rem;
  --subheadLineHeightSmall: 2.4rem;
  --lineHeightSmall: 1.6rem;
  --lineHeightMedium: 2rem;
  --lineHeightLarge: 2.4rem;
  --lineHeightTitle: 2.0rem;
  --fontWeightBlack: 800;
  --fontWeightBold: 700;
  --fontWeightSemiBold: 600;
  --fontWeightMedium: 500;
  --fontWeightRegular: 400;
  --fontWeightLight: 300;
  --fontWeightExtraLight: 200;
}
